@{
    ViewData["Title"] = localizer["User Concurrer 1 List"];
    //ViewData["Caption"] = localizer["Manage User Concurrer 1 here"];
}
@using EDocSys.Web.Areas.Documentation.Models
@model UserApproverViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <a onclick="jQueryModalGet('/documentation/userapprover/OnGetCreateOrEditC1','Add Concurrer 1')" class="btn bg-success">
            <i class="fa fa-plus-square"></i> Add Concurrer 1
        </a>
        <a onclick="jQueryModalGet('/documentation/userapprover/OnGetCreateOrEditAC1','Add For Role A')" class="btn bg-success">
            <i class="fa fa-plus-square"></i> Add For Role A
        </a>
        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#userapproverTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/documentation/userapprover/LoadAllC1?apt=@ViewBag.APT');
        }
    </script>
}


