@{
    ViewData["Title"] = localizer["Standard Operating Practices (SOP)"];
    ViewData["Caption"] = localizer["Manage Standard Operating Practices here"];
}
@using EDocSys.Web.Areas.Documentation.Models
@model SOPViewModel

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>

        <a id="loadallSOP" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Load All SOP
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#sopTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
            $('#loadallSOP').on('click', function () {
                $('#viewAll').load('/documentation/sop/LoadAll');
            });



            
        });
        function loadData() {
            if ('@ViewBag.WSCPNo' == '') {
                $('#viewAll').load('/documentation/sop/LoadAll');
            }
            else {
                $('#viewAll').load('/documentation/sop/LoadByWSCP/?wscpno='+ '@ViewBag.WSCPNo' + '&wscpid='+ '@ViewBag.WSCPId');
            }
        }

    </script>
}