@{
    ViewData["Title"] = localizer["Procedures"];
    ViewData["Caption"] = localizer["Manage Procedures here"];
}
@using EDocSys.Web.Areas.Documentation.Models
@model ProcedureViewModel

<p>@ViewBag.WebRootPath</p>
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if (User.IsInRole("SuperAdmin") || ViewBag.RoleSA || User.IsInRole("E") || ViewBag.RoleE || User.IsInRole("D") || ViewBag.RoleD)
        {
            <a asp-area="Documentation" asp-controller="Procedure" asp-action="CreateOrEdit"
               asp-route-ce="f11c9d1f-abbb-45a1-8d11-b0a5590e5893" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Create
            </a>
        }

        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>

        <hr />
        <div class="filter-section">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="departmentFilter">Filter by Department:</label>
                        <select id="departmentFilter" class="form-control">
                            <option value="">All Departments</option>
                            @if (ViewBag.Departments != null)
                            {
                                foreach (var dept in ViewBag.Departments)
                                {
                                    <option value="@dept">@dept</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
    <script>
        var tables = {};  // Global tables object

        $(document).ready(function () {
            loadData();

            $('#reload').on('click', function () {
                loadData();
            });

            $('#departmentFilter').on('change', function () {
                var department = $(this).val();
                if (window.tables) {
                    Object.values(window.tables).forEach(function (table) {
                        if (table) {
                            if (!department) {
                                table.column(3).search('').draw();
                            } else {
                                table.column(3).search('^' + department + '$', true, false).draw();
                            }
                        }
                    });
                }
            });
        });

        function loadData() {
            // Destroy existing tables
            if (window.tables) {
                Object.values(window.tables).forEach(function (table) {
                    if (table) {
                        table.destroy();
                    }
                });
            }
            window.tables = {};

            $('#viewAll').load('/documentation/procedure/LoadAll', function () {
                // Tables will be initialized in _ViewAll.cshtml

                // Reapply current filter if exists
                var currentFilter = $('#departmentFilter').val();
                if (currentFilter) {
                    Object.values(window.tables).forEach(function (table) {
                        if (table) {
                            table.column(3).search('^' + currentFilter + '$', true, false).draw();
                        }
                    });
                }
            });
        }
    </script>
}